html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {

    width: 100%;
    height: 100%;
}

.columns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.column-canvas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 96%;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    background-color: white;
    border-radius: 15px; /* 圓角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 陰影 */
}

.column-canvas canvas {
    border-radius: 15px; /* 圓角 */
    transform: scale(0.9); /* 縮小 canvas 內容 */
}

.column-classBar {
    height: 96%;
    width: 18%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    background-color: white;
    border-radius: 20px; /* 圓角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 陰影 */
}

.column-information {
    height: 96%;
    width: 23%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    background-color: white;
    border-radius: 20px; /* 圓角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 陰影 */
}

.column-leftBar {
    height: 96%;
    width: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #FAFAFA;
    
}

.camera-view {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
    border-radius: 15px;
    background-color: #ffffff;
}
