:root {
    --luck-color: #E1F5FE;
  }

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    overflow: hidden;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {

    width: 100%;
    height: 100%;
}

.columns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.column-canvas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 96%;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    background-color: white;
    border-radius: 15px; /* 圓角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 陰影 */
}

.canvas-block canvas {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; /* 確保1:1比例 */
    border-radius: 15px; /* 圓角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 陰影 */
}


.canvas-block {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.column-classBar {
    height: 96%;
    width: 18%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    background-color: white;
    border-radius: 20px; /* 圓角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 陰影 */
}

.column-information {
    height: 96%;
    width: 23%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    background-color: white;
    border-radius: 20px; /* 圓角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 陰影 */
}

.column-leftBar {
    height: 96%;
    width: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #F5F5F5;
    
}

.camera-view {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    background-color: #ffffff;
}

.round-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 24px;
    border: none;
    cursor: pointer;
    background-color: var(--luck-color);
    transition: background-color 0.3s; /* 平滑過渡效果 */
  }


  .openfile-samll {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 67%;
    margin-top: 1%;
    padding: 0;
    font-size: 24px;
    border: none;
    cursor: pointer;
    background-color: var(--luck-color);
    transition: background-color 0.3s; /* 平滑過渡效果 */
  }

  .openfile-samll:hover {
    background-color: #ECEFF1; /* 滑鼠懸停時的背景色 */
  }

    .openfile-button:hover {
        background-color: #ECEFF1; /* 滑鼠懸停時的背景色 */
    }

  .round-button .material-icons {
    font-size: 24px;
  }

  .round-button:hover {
    background-color: #ECEFF1; /* 滑鼠懸停時的背景色 */
  }

  .button-class {
    width: fill-available;
    height: 60px;
    background-color: #FAFAFA;
    border: none;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px; /* 圓角 */
    padding: 10px;
    font-size: 24px;
    box-sizing: border-box; /* 包括內邊距和邊框在內的完整寬度 */
}

.button-class:hover {
    background-color: #F5F5F5; /* 滑鼠懸停時的背景色 */
    }

  .button-student {
    width: fill-available;
    height: 60px;
    background-color: #FAFAFA;
    border: none;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px; /* 圓角 */
    padding: 10px;
    font-size: 24px;
    box-sizing: border-box; /* 包括內邊距和邊框在內的完整寬度 */
}

.button-student:hover {
    background-color: #F5F5F5; /* 滑鼠懸停時的背景色 */
    }

  .openfile-button {
    margin: 4%;
    width: 92%;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 24px;
    border: none;
    background-color: var(--luck-color);
    transition: background-color 0.3s; /* 平滑過渡效果 */
  }

  .classbar-title {
    margin: 6%;
    font-size: 30px;
    font-weight: bold;
    text-align: start;
    display: flex;
    flex-direction: row;

  }

  .classbuttom-Bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll; /* 確保始終可滑動 */
    -ms-overflow-style: none;  /* IE和Edge */
    scrollbar-width: none;  /* Firefox */
    max-height: 95%; /* 設置最大高度以確保不會超出邊界 */
  }


  .student-Bar {
    margin: 2%;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    width: 96%;
    overflow-y: scroll; /* 確保始終可滑動 */
    -ms-overflow-style: none;  /* IE和Edge */
    scrollbar-width: none;  /* Firefox */
    max-height: 95%; /* 設置最大高度以確保不會超出邊界 */
}

.student-Bar::-webkit-scrollbar {
    display: none; /* Chrome, Safari 和 Opera */
}

.cap-inf {
    width: 100%;
    height: 100%;
}

.student-information {
    width: 100%;
    height: 5%;
    background-color: var(--luck-color);
    border-radius: 20px; /* 圓角 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}